
   
.todoAppFooter {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    border-top: 1px solid #e6e6e6;
  }
  
  .todoLength {
    outline: none;
    position: absolute;
    right: 7px;
    z-index: 9;
    border: 0;
    color: #c29f9f;
    background-color: rgb(138, 88, 88);
    font-weight: 500;
    padding: 3px 5px;
    border-bottom: 1px solid #e6e6e6;
  }